$light-grey: #282828;
$light-grey-alt: #393939;
$dark-grey: #1F1F1F;

$green-palette: (
    50 : #e4f6f3,
    100 : #bbeae1,
    200 : #8ddcce,
    300 : #5fcdba,
    400 : #3dc3ab,
    500 : #1bb89c,
    600 : #18b194,
    700 : #14a88a,
    800 : #10a080,
    900 : #08916e,
    A100 : #beffed,
    A200 : #8bffde,
    A400 : #58ffd0,
    A700 : #3fffc8,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);