<mat-sidenav
  #sidenav
  [mode]="isBiggerScreen() ? 'over' : 'side'"
  [(opened)]="opened"
  [fixedInViewport]="false"
  [fixedTopGap]>
  <mat-nav-list>
    <a mat-list-item> <mat-icon>dashboard</mat-icon> Dashboard </a>
    <a mat-list-item> <mat-icon>person</mat-icon> User Profile </a>
    <a mat-list-item> <mat-icon>content_paste</mat-icon> Table List </a>
    <a mat-list-item> <mat-icon>library_books</mat-icon> Typography </a>
    <a mat-list-item> <mat-icon>location_on</mat-icon> Maps </a>
    <a mat-list-item> <mat-icon>calendar_today</mat-icon> Calendar </a>
  </mat-nav-list>
</mat-sidenav>
