@import 'partials/variables';

.header {
  position: absolute;
  width: auto;
  z-index: 1;
  right: 0;

  .hamburger {
    margin-top: 5px;
    cursor: pointer;
  }

  mat-toolbar {
    display: flex;
    background-color: transparent;

    .avatar {
      height: 24px;
      width: 24px;
      display: inline-block;
    }
  }
}
