<div class="dark-theme">
  <div class="mat-app-background">
    <mat-sidenav-container>

      <mat-sidenav class="sidenav"
        #sidenav
        [mode]="isBiggerScreen() ? 'over' : 'side'"
        [(opened)]="opened"
        [fixedInViewport]="false"
        [fixedTopGap]>
        <div class="sidenav__header">
          <div class="sidenav__header-logo">
            <img src="https://vex.visurel.com/assets/img/demo/logo.svg" />
            <span>MEAN</span>
          </div>
        </div>
        <div class="sidenav__content">
          <mat-nav-list>
            <a mat-list-item> <mat-icon>dashboard</mat-icon> Dashboard </a>
            <a mat-list-item> <mat-icon>person</mat-icon> User Profile </a>
            <a mat-list-item> <mat-icon>content_paste</mat-icon> Table List </a>
            <a mat-list-item> <mat-icon>library_books</mat-icon> Typography </a>
            <a mat-list-item> <mat-icon>location_on</mat-icon> Maps </a>
            <a mat-list-item> <mat-icon>calendar_today</mat-icon> Calendar </a>
          </mat-nav-list>
        </div>
      </mat-sidenav>

      <mat-sidenav-content class="content">
        <app-header (toggleSidebar)="sidenav.toggle()"></app-header>
      </mat-sidenav-content>

    </mat-sidenav-container>
  </div>
</div>
